[Unit]
Description=Battery Charge Monitor
After=graphical.target

[Service]
Type=simple
ExecStart= /usr/bin/bash <path to the script>
Restart=always
Environment=DISPLAY=:0
Environment=XAUTHORITY=/run/user/%U/gdm/Xauthority
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=default.target
